:root{
    --background:            #FFF;
    --background-menu:       #000;
    --text:                  #3A4F7A;
    --text-button:           #FFF;
    --text-menu:             #FFC6D3;
    --button:                #FFC6D3;
    --text-description:      #000;
    --hover-button:          #E98EAD;
}